<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BLOG</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header'); %>
    <main>
      <div class="article">
        <% if (article.category === 'all') { %>
          <h1><%= article.title %></h1>
          <p><%= article.content %></p>
        <% } %>
        <% if (article.category === 'limited') { %>
          <i>MEMBERS ONLY</i>
          <h1><%= article.title %></h1>
          <% if (locals.isLoggedIn) { %>
            <p><%= article.content %></p>
          <% } else { %>
            <div class="article-login">
              <p>Let's log in now!</p>
              <p>Please log in to read<br>the rest of the article.</p>
              <img src="/images/login.svg">
              <a class="btn" href="/login">Log in</a>
            </div>
          <% } %>
        <% } %>
      </div>
    </main>
    <footer>
      <a class="btn sub" href="/list">Back to articles</a>
    </footer>
  </body>
</html>
